<header class="fixed top-0 flex z-20 bg-white w-full justify-between items-center">
    <div class="flex justify-between">
        <img src="/imgs/logo_nachov.jpg">
        <div class="mt-2 text-[2em] font-['Baskerville-Regular'] font-medium whitespace-nowrap">Nacho Valgañón</div>
    </div>
    <p class="text-sm mr-5">Redactor creativo publicitario
    </p>
</header>	