<section id="intro" class="bg-white h-screen w-[100%] overflow-hidden relative z-10 flex items-center justify-center">
    <div class="flex items-center flex-col relative">
        <img id="nacho-logo" class="relative top-0 left-0" src="/imgs/logo_nachov.jpg">
        <div id="nacho-title" class="relative top-0 left-0 mt-2 text-[3em] font-['Baskerville-Regular'] font-bold whitespace-nowrap">Nacho Valgañón</div>
        <div class="font-['Baskerville-Regular'] w-[100%] text-center mt-4 [&>p]:mt-2">
            <p>Redactor creativo publicitario</p>
            <p>Actualmente en <a href="https://www.smallbcn.com/" target="_blank">Smäll</a> y colaborando como redactor freelance para estudios de diseño <span class="separator"></p>
            <p>Puedes ver más proyectos en <a href="https://www.instagram.com/Nachovalganon_vv/" target="_blank">Instagram</a> y <a href="https://www.linkedin.com/in/nacho-valga%C3%B1%C3%B3n-04b19713/?originalSubdomain=es" target="_blank">LinkedIn</a></p>
            <p>Puedes contactar conmigo en <a href="mailto:hola@nachov.com">hola@nachov.com</a></p>
        </div>
        <!-- 
        <p class="font-['Baskerville-Regular'] w-[50%] text-center mt-4">Redactor creativo publicitario <span class="separator">/</span> Actualmente en <a href="https://www.smallbcn.com/" target="_blank">Smäll</a> y colaborando como redactor freelance para estudios de diseño <span class="separator">/</span>
            Puedes ver más proyectos en <a href="https://www.instagram.com/Nachovalganon_vv/" target="_blank">Instagram</a> y <a href="https://www.linkedin.com/in/nacho-valga%C3%B1%C3%B3n-04b19713/?originalSubdomain=es" target="_blank">LinkedIn</a>  <span class="separator">/</span> Puedes contactar conmigo en <a href="mailto:hola@nachov.com">hola@nachov.com</a>
        </p>
        -->
        <img class="mt-8" width="50px" src="/imgs/scrolldown.gif">
    </div>
    <!--<div id="test" class="absolute top-0 left-0 w-[10px] h-[10px] bg-black"></div>-->
</section>	